:root {
  --border: url("../../../art/border/border.png");
  --frame:  url("../../../art/frame/translucent.png");
  --tier:   url("../../../art/tier/blue.png");
  --title:  url("../../../art/title/blue.png");
  --illus:  url("../../../art/illustration/Where-Ware Charm.png");
  --type:   url("../../../art/type/blue.png");
  --rules:  url("../../../art/rules/blue.png");
  --cast:   url("../../../art/glyph/cast.png");
  --hand:   url("../../../art/glyph/hand.png");

  --font-title: 'Karmatic Arcade Plus';
  --font-title-fill: 'Karmatic Arcade Plus Fill';
  --font-type: 'Karmatic Arcade Plus';
  --font-type-fill: 'Karmatic Arcade Plus Fill';
  --font-rules: 'Segoe UI Semibold';
  --font-flavour: 'Libre Baskerville';
  --font-meta: 'EB Garamond';
}

.body {
  background-color: transparent;
}

.card {
  width: 816px;
  height: 1154px;
}

.tier {
  background-image: var(--tier);
  width: 736px;
  height: 1041px;
  z-index: 0;
  position: absolute;
  left:40px;
  top:40px;
  width: 736px;
  height: 1041px;
}

.border {
  background-image: var(--border);
  z-index: 1;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 816px;
  height: 1154px;
}

.frame {
  background-image: var(--frame);
  z-index: 2;
  position: absolute;
  left: 40px;
  top: 40px;
  width: 736px;
  height: 1041px;
}

.illustration {
  background-image: var(--illus);
  z-index: 1;
  position: absolute;
  left: 74px;
  top: 178px;
  height: 477px;
  width: 668px;
}

/* https://www.w3schools.com/howto/howto_css_center-vertical.asp */
.vertical-center {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.title {
  background-image: var(--title);
  z-index: 2;
  position: absolute;
  left: 74px;
  top: 74px;
  width: 668px;
  height: 76px;
  text-align: center;
}

.title-text::before {
  content: attr(text);
  color: black;
  font-family: var(--font-title);
  position: absolute;
}

.title-text::after {
  content: attr(text);
  color: white;
  font-family: var(--font-title-fill);
}

.type {
  font-size: 18.6pt;
  background-image: var(--type);
  z-index: 4;
  position: absolute;
  left: 74px;
  top: 683px;
  width: 668px;
  height: 44px;
}

.type-text {
  position: absolute;
  width: 558px;
  top: 6px;
  left: 185px;
}

.type-text::before {
  content: attr(text);
  color: black;
  font-family: var(--font-type);
  position: absolute;
      filter: contrast(999%);
}

.type-text::after {
  content: attr(text);
  color: white;
  font-family: var(--font-type-fill);
}

.rules {
  font-family: var(--font-rules);
  font-size: 22pt;
  background-image: var(--rules);
  position: absolute;
  left: 74px;
  top: 755px;
  width: 668px;
  height: 292px;
}

.rules-text {
  position: relative;
  left: 20px;
  top: 30px;
  width: 628px;
  height: 242px;
}

.cast {
  margin-bottom: 10px;
}

.hand {
  margin-bottom: 10px;
}

.glyph {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-size: contain;
}

.castglyph {
  background-image: var(--cast);
}

.handglyph {
  background-image: var(--hand);
}

.flavour {
  font-family: var(--font-flavour);
  font-size: 18pt;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.meta {
  font-family: var(--font-meta);
  font-size: 13pt;
  display:flex;
  flex-flow:row wrap;
  z-index: 3;
  position: absolute;
  left: 55px;
  top: 1084px;
  width: 702px;
  height: 32px;
}

.author {
  color: #666666;
  width: 234px;
  text-align: left;
}

.copyright {
  color: white;
  width: 234px;
  text-align: center;
}

.code {
  color: #666666;
  width: 234px;
  text-align:right;
}

.serial {
  color: #999999;
}
