<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>card creator</title>
</head>

<!-- Hack to get emojis to render -->
<style>
  img.emoji {
     height: 1em;
     width: 1em;
     margin: 0 .05em 0 .1em;
     vertical-align: -0.1em;
  }
</style>

<!-- https://stackoverflow.com/questions/687998/auto-size-dynamic-text-to-fill-fixed-size-container -->
<script type="text/javascript">
  window.onload=function shrink()
  {
    textSpan = document.getElementById("title-text")
    textDiv = document.getElementById("title")
    
    textSpan.style.fontSize = "36pt"

    while(textSpan.offsetHeight > textDiv.offsetHeight)
    {
        updated_font_size = parseInt(textSpan.style.fontSize) - 1
        textSpan.style.fontSize = updated_font_size + "pt";
    }
  }
</script>


<body>
  <div class="card">
      <div class="tier"></div>
      <div class="border"></div>
      <div class="frame"></div>
      <div class="title" id="title">
        <span class="title-text vertical-center" id="title-text">{{title}}</div>
      </div>
      <div class="illustration"></div>
      <div class="type">
        <div class="type-text">
          {{upgrade}}
        </div>
      </div>
      <div class="rules">
        <div class="rules-text">
          <div class="cast">
            <div class="cast glyph"></div> {{cast_rules}}
          </div>
          <div class="hand">
            <div class="hand glyph"></div> {{hand_rules}}
          </div>
          <em class="flavour">
            {{flavour}}
          </em>
        </div>
      </div>
      <div class="meta">
        <table>
          <tr>
            <td>
              <p class="author">
                Illus. Elliot Tomlinson
              </p>
            </td>
            <td>
              <p class="copyright">
                © 2021 Cardmaster
              </p>
            </td>
            <td>
              <p class="code">
                <span class="series">
                  test
                </span>
                <span class="serial">
                  000/000
                </span>
              </p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
  </html>
